* {
    margin:0;
    padding:0;
}
 
body {
}
 
html,body{
    height:100%;
}
 
i {
    font-size: 40px;
    color: white;
    cursor: pointer;
}
 
.MainView {
    min-height: 100%;
    margin-bottom: -102px;
}
 
 
.Footer {
    max-height:100px;
    border-top: 2px solid grey;
}
 
#previewMode {
    display: block;
    margin: 1em auto;
}
 
.captionFooter {
    padding: 5px;
    text-align: center;
}
 
.captionFooter span {
    font-family: 'Roboto', bold;
    font-weight: 900;
    color: white;
}
 
.captionFooter img {
    width: 48px;
    height: 48px;
    float: right;
    background-color: rgba(200,0,100,0.6);
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}
 
 
#logo {
    font-weight: normal;
    font-family: "futura-pt";
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;   
}
 
#description {
    font-size: 12px;
    color: rgb(117,117,117);
    margin-top: -13px;
}
 
#phone {
    margin-top: -13px;
}
 
.headerContainer {
    height: 18vh;
    min-height: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
 
 
.headerContent {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
    justify-content: center;
}
 
.headerNavigation {
 
}
 
.headerLogo {
    padding: 10px;
}
 
.mobileNavigation {
    background-color: rgb(238,238,238);
    padding: 10px;
    text-align: center;
    align-self: flex-start;
}
 
.mobileNavigationMenu {
    z-index: 100;
    position: absolute;
    top: 40px;
    width: 100vw;
    background-color: rgb(224,224,224);
    top: 40px;
    left: 0;
}