// some hover effect styles might be found in Styles.js

*
	margin 0px
	padding 0px
	
i
	color white
	cursor pointer
	

.bodyWrapper 
	background-color #333
	
.homepageWrapper 
	width 100%
	.carouselWrapper
		max-height 700px
		overflow hidden
		
.contentWrapper
	background-color white
	margin-bottom 16px
	margin-top 16px
	min-height 668px

.header 
	height 18vh
	min-height 110px
	background-color white
	display flex
	justify-content center
	align-items flex-end
	flex-wrap wrap
	
	.headerContent 
		display flex
		flex-wrap wrap
		align-content flex-end
		align-items center
		justify-content center
		.headerLogo 
			padding 10px
			#logo
				font-weight normal
				font-family "futura-pt"
				line-height 1.2em
				text-transform uppercase
				letter-spacing 0px
				font-weight 700
				font-style normal
				font-size 32px 
			#description
				font-size 12px
				color rgb(117,117,117)
			#phone, #description
				margin-top -13px
		
	.mobileNavigation
		background-color rgb(238,238,238)
		padding 10px
		text-align center
		align-self flex-start
		
	.mobileNavigationMenu 
		top 40px
		left 0
		z-index 100
		position absolute
		width 100vw
		background-color rgb(224,224,224)
	
.catalog
	.catalogHeader
		display flex
		justify-content center
		padding-top 1px
		padding-bottom 8px
		border-bottom 1px solid rgba(0,0,0,0.1)
		.backButton
			display absolute
			left 0
	.catalogElementWrapper 
		height 250px
		margin 10px
		overflow hidden
		.captionActive
			background-color rgba(0,0,0,0.5)
			height 70%
			.text
				text-align center
				color white
				.marginFix
					margin 0
		.captionFooter
			text-align center
			padding 5px	
			height 30%
			background-color rgba(0,0,0,0.7)
			color white
			.icon
				height 24px
				width 24px
			span 
				font-family 'Roboto', bold
				font-weight 900
				color white
			img
				width 48px
				height 48px
				float right
				background-color rgba(200,0,100,0.6)
				padding 2px
				border-radius 5px
				cursor pointer
		.captionHidden
			background-color rgba(0,0,0,0)
			height 70%
			
.aboutUs
	.mobileVersion
		color white
		width 100%
		background-color #333
		border-bottom 2px solid white
	.container
		display flex
		width 100%
		padding 20px
		min-height 500px
		overflow hidden
		background #333
		.googleMap
			width 100%
			border 2px solid rgb(158,158,158)
		.text
			font-weight 200
			padding-left 30px
			font-family 'Roboto', sans-serif
			color white
			line-height 25px
			width 12vw
			
footer
	border-top 1px solid rgba(0,0,0,0.3)
	padding 10px
	width 100%
	text-weight 900px 
	max-height 140px
	font-family 'Roboto', sans-serif
	font-size 15px
	color rgba(0,0,0,0.7)
	a
		border-bottom 1px dashed rgba(0,0,0,0.3)
	.footerContacts 
		float left
		margin 15
		a
			color rgba(0,0,0,0.5)
			margin-top -10px
	.footerAuthors
		float right
		color rgba(0,0,0,0.5)