// some hover effect styles might be found in Styles.js

*
	margin 0px
	padding 0px
	
i
	color white
	cursor pointer
	
footer
	border-top 1px solid rgba(0,0,0,0.3)
	padding 10px
	width 100%
	text-weight 900px 
	max-height 140px
	font-family \'Roboto\', sans-serif
	font-size 15px
	color rgba(0,0,0,0.7)
	
	a
		border-bottom 1px dashed rgba(0,0,0,0.3)
		
	.footerContacts 
		float left
		margin 15
		a
			color rgba(0,0,0,0.5)
			margin-top -10px
			float right
			
	.footerAuthors
		float right
		color rgba(0,0,0,0.5)
		
		
.headerContainer 
	height 18vh
	min-height 150px
	background-color white
	display flex
	justify-content center
	align-items flex-end
	flex-wrap wrap
	
	.headerContent 
		display flex
		flex-wrap wrap
		align-content flex-end
		align-items center
		justify-content center
		.headerLogo 
			padding 10px
			#logo
				font-weight normal
				font-family "futura-pt"
				line-height 1.2em
				text-transform uppercase
				letter-spacing 0px
				font-weight 700
				font-style normal
				font-size 32px 
			#description
				font-size 12px
				color rgb(117,117,117)
			#phone, #description
				margin-top -13px
		
	.mobileNavigation
		background-color rgb(238,238,238)
		padding 10px
		text-align center
		align-self flex-start
		
	.mobileNavigationMenu 
		z-index 100
		position absolute
		top 40px
		left 0
		width 100vw
		background-color rgb(224,224,224)
		top 40px
		
.captionFooter
	text-align center
	padding 5px	
	span 
		font-family 'Roboto', bold
		font-weight 900
		color white
	img
		width 48px
		height 48px
		float right
		background-color rgba(200,0,100,0.6)
		padding 2px
		border-radius 5px
		cursor pointer
